.messageInputBarComponent{
    flex:3;
   
    form{
        width: 100%;
        display: inline;
         display: flex;
    align-items: center;
    gap:var(--margin-lg);
    padding-block:var(--margin-md);
    }

    button{
        border: none;
        outline: none;
        padding:var(--margin-sm);
        cursor:pointer;
        width: 100px;
        border-radius: var(--margin-sm);
        transition: transform 100ms ease-out;

        &:active{
            transform: scale(0.9);
        }
    }
}