@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
:root {
  --bg-dark: oklch(0.1 0.07 340);
--bg: oklch(0.15 0.07 340);
--bg-light: oklch(0.2 0.07 340);
--text: oklch(0.96 0.1 340);
--text-muted: oklch(0.76 0.1 340);
--highlight: oklch(0.5 0.14 340);
--border: oklch(0.4 0.14 340);
--border-muted: oklch(0.3 0.14 340);
--primary: oklch(0.76 0.14 340);
--secondary: oklch(0.76 0.14 160);
--danger: oklch(0.7 0.14 30);
--warning: oklch(0.7 0.14 100);
--success: oklch(0.7 0.14 160);
--info: oklch(0.7 0.14 260);

  --margin-mini: .5rem;
  --margin-sm: 1rem;
  --margin-md: 1.5rem;
  --margin-lg: 2rem;
}

h1,h2,h3,p,a,span,button, input{
  font-family: 'poppins', sans-serif !important;
  font-weight: 400;
}

h1{
  font-weight: 800 !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: clamp(32px, 5.5vw, 54px);
}
